<header class="app-header">
  <div class="header-shell">

    <!-- <div class="identity-bar">
      <p class="identity-main">
        {{ professionalName }} · {{ currentRole }} · {{ squad }}
      </p>
      <p class="identity-goal">{{ objectivePlaceholder }}</p>
    </div> -->

    <nav class="nav-block" aria-label="Navegação principal do PDI">
      <div class="nav-row primary">
        @for (link of primaryLinks; track link.fragment) {
          <a [routerLink]="['/dashboard']" [fragment]="link.fragment" class="nav-link">
            {{ link.label }}
          </a>
        }
      </div>

      <div class="nav-row secondary">
        @for (link of secondaryLinks; track link.route) {
          <a [routerLink]="link.route" routerLinkActive="is-active" class="nav-link nav-link-secondary">
            {{ link.label }}
          </a>
        }
      </div>
    </nav>
  </div>
</header>
